// Specific CSS for your home-page
body {
  font-family: $font-family;
}

.landing {
  height: 100%;
  background-image: image-url("GIGMElogo.png");
  // justify-content: space-between;
  padding-block: 35%;
}

.route {
  text-decoration: none;
  font-family: $font-family;
  color: $yellow;
  background-color: $default-backgroud;
  border-radius: $border-radius;
  margin: 3em;
  padding: 3em;
  position: sticky;
}
