<h1 class="container">My bookings</h1>

<div class="container">
  <ul>
    <% @bookings.each do |booking| %>
      <li><%= link_to booking.place, booking_path(booking) %></li>
    <% end %>
  </ul>
  <%# <%= link_to 'Offers', offers_path(@offer) %>
</div>
