<div class="home-banner">
  <h1>Le Wagon</h1>
  <%# <%= link_to 'Log out', destroy_user_session_path // appears when user logs in %>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <button> <%= link_to 'Looking for a Gig', new_user_registration_path %></button>
  <button> <%= link_to 'Looking to Gig', offers_path %></button>
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>
