<div class="home-banner d-flex">
  <div class="container d-flex" >
  <%# <%= image_tag "GIGMElogo.png"%>
    <button class="btn-flat col-6"> <%= link_to 'Looking for a Gig', new_user_registration_path %></button>
    <button class="btn-flat col-6"> <%= link_to 'Looking to Gig', offers_path %></button>
  </div>
</div>
