.navbar {
  justify-content: space-between;
  background: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

i {
  &:hover {
    color: $yellow;
    transform: scale(1.5);
    // background-color: rgb(0, 0, 0);
    // border-radius: 1%;
  }
}

.btn {
  text-decoration: none;
  font-family: $font-family;
  color: $yellow;
  background-color: $default-backgroud;
  border-radius: $border-radius;
  margin-top: 2em;
  margin-right: 2em;
  &:hover {
    color: black;
  }
}

a:hover {
  color: black;
  background-color:white !important;
}

// .dropdown-item {
//   &:hover {
//     background-color: none;
//     color: black;
//   }
// }
